/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "colors.css.scss";

// text color helpers
.red { color: $red; }
.dark { color: $dark; }
.slate { color: $slate; }
.blue { color: $blue; }
.lblue { color: $lblue; }

///////////////
// BOOTSTRAP //
///////////////

// buttons
$btn-default-border: #7FE9E4;
$btn-default-color: $lblue;
$btn-default-bg: $dark;

// alerts

@import "bootstrap";

.devise-view,
.alerts-wrapper {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.devise-link { margin-right: 10px; }
.devise-shared { margin-top: 20px; }

a { color: $blue; }
