<div class="col-sm-5">
  <h3 class="text-center panel-header">Work</h3>
  <div class="text-center panel" id="lifts">

    <!-- structure for template - dummy data -->
    <div class="work-item row slate">
      <div class="col-sm-3 work-date">
        3 Apr 2014
      </div>

      <div class="col-sm-6 work-content text-left">
        AMRAP 10:00
        <ul>
          <li>15 x PullUps</li>
          <li>15 x DeadLift @ 225#</li>
        </ul>
      </div>

      <div class="col-sm-2 work-score">
        115
      </div>

      <div class="col-sm-1 work-actions">
        <br>
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="glyphicon glyphicon-remove"></span>
      </div>
    </div>
    <!-- end template structure -->

  </div>
</div>
<div class="col-sm-7">
  <h3 class="text-center panel-header">Numbers</h3>
  <div class="text-center panel" id="benchmarks"></div>
</div>
